<configuration>

    <!-- Консольный аппендер -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Шаблон вывода -->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Отключаем все логи TDLight -->
    <logger name="it.tdlight" level="OFF" additivity="false"/>
    <logger name="it.tdlight.TDLight" level="OFF" additivity="false"/>
    <logger name="it.tdlight.TelegramClient" level="OFF" additivity="false"/>
    <logger name="org.drinkless" level="OFF" additivity="false"/>
    <logger name="it.tdlight.client" level="OFF" additivity="false"/>
    <logger name="it.tdlight.jni" level="OFF" additivity="false"/>

    <!-- Логи для всего приложения -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>