<configuration>

    <!-- Консольный аппендер -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Шаблон вывода -->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Логи для всего приложения -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Если нужно больше подробностей по TDLight -->
    <logger name="it.tdlight.TDLight" level="OFF"/>
    <logger name="org.drinkless" level="OFF"/>

</configuration>